<div class="cuerpo">
<div class="container">
  
    <div class = "panel panel-primary"><!--panel-primary #1 -->
  
        <div class = "panel-heading">
         <!-- da3os personales del empleado-->
         <h3> Edicion de Empleado</h3>
     </div>

<%= render 'form', employee: @employee %>



</div>