

  
    <div class = "panel panel-primary"><!--panel-primary #1 -->
  
        <div class = "panel-heading">
         <!-- da3os personales del empleado-->
         <h3> Registro de Empleado</h3>
     </div>


<%= render 'form', employee: @employee %>


</div>