<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  

  </head>
 <body>
 <div class="row header_top">
   <div class="col-md-1 col-md-offset-10">  
   <%= image_tag wicked_pdf_asset_base64("docs/header2017.png") %>

      
 </div>
 </div>
   
  </body>

</html>