body{
    margin: 70px 0 20px 0;
  font-family: 'Roboto', sans-serif;  
}
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.corrimiento{
    margin-left: 20px;
    padding-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
}
.corrimiento-show{
    margin-left: 50px;
    padding-left: 50px;
    margin-right: 50px;
    padding-right: 50px;

}

textarea {
    resize: none;
}
.heading-space{
    margin-bottom: 20px;

}
label {
     /*font-family: 'Roboto', sans-serif;
    font-size: 15px !important;*/
}

.p-show{
     font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
}
.well-top{
    margin-top: 5px;
}
.nav_botton{

    margin-bottom: 50px;
    padding-bottom: 50px;

}

.cuerpo{
    width: 780px
}
.menu{
    width: 156px;
}

table th{
    text-align: center;
}
td{
    text-align: center;
}
.cabecera {
    padding-bottom: 5px;
}

.sinpadding [class*="col-"] {
    padding: 0;
}

/*ESTILOS DE PDF*/
.footer-print{
  font-size: xx-small;
  text-align: center;
}
.pdf_gral .row{
  padding-bottom: 0px !important;
}
.pdf_gral > [class*="col-"] {
  padding-bottom: 0px !important;
}
/*Salto de página y margen superior de la hoja*/
.margin_pdf {
  margin-top: -50px;
} 
.break_page { page-break-inside: avoid; }
/*.pdf-page .p-show{
    
     font-family: 'Roboto', sans-serif;
    font-size: 12px !important;


}
.pdf-page .corrimiento-show{
    margin-left: 25px;
    padding-left: 25px;
    margin-right: 25px;
    padding-right:25px;

}*/
/**/

/*.x_title .btn-action {
  margin: 5px 0 6px;
  float: right;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}*/
.btn-action {
  margin: 5px 0 6px;
  float: right;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; 
}

/*gentella css*/
.row-no-top{
  margin-top: -10px;
  padding-top: -10px;
}
#masterQuestion{
  display: none;
}


/*estilos del checkbox*/

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
/*editar empleado*/
.headerempleado{
font-size: 20px;
}
.headerlegajo{
    font-size: 20px;
}

.miniatura{
    padding-top: 15px;
    
}
 .miniatura img{
    width: 50px; height: 50px;
 }
 .avatar-view {
    width: 200px; height: 200px;
 }

.area{
  margin-top:  5px;
 }
 /*icon doc*/
.fa-file {
    color: #F33A46;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
 
}

.fa-file :hover {
background-color: #F5F5F5


} 
/* modal maldito*/
.modal-dialog {
        width: 70% !important;
        margin: 30px auto !important;
}
/*fieldset*/

fieldset.scheduler-border {
    border: 2px groove #ddd !important;
    /*padding: 0 1.4em 1.4em 1.4em !important;*/
    padding: 0 1.4em 0 1.4em !important;

    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

fieldset.scheduler-border-doc {
    border: 1px groove #ffffff !important;
   padding: 10px;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}


.fondo-import-doc{
  background: #F5F5F5;
}


fieldset.msj-border {
    border: 1px groove #ddd !important;
    /*padding: 0 1.4em 1.4em 1.4em !important;*/
    padding: 1em 1.4em 1em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
        font-size: 0.8em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

  /*panel*/
  .panels {
    margin-bottom: -10px !important;
    padding-bottom: -10px !important;
  }

  /*padding panel*/
.panel_button .panel-body{
  margin-bottom: -20px !important ;
}

.centrate {
  text-align: center;
}
.sinpadding {
    padding: 0;
}
hr {
  background-color: black;
  height: 1px;
}
.header_top img{
  padding-top: 10px;
  margin-top: 10px;
}
/*fecha de impresion footer pdf*/
 .hora {
  font-size: 10px;
 }
/*se quito los estilo de body de este archivo y se los agrego en custom.css,  el padding del body servia para que el menu no se junte con el cuerpo , pero en el PDF esta propiedad hacia que no se viera el footer.
*/
  /*menu horizontal nuevo*/
/*   body {
  padding-top:70px;
}
*/
/*@media (max-width: 900px) {
    .navbar-header {
      float: none;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
    }
    .navbar-nav>li {
      float: none;
      color: #FFFFFF!important;
    }
    .navbar-nav>li>a {
      color: #FFFFFF!important;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .navbar-inverse .navbar-nav > li > a {
      color: #FFFFFF!important;
    }
    .nav-personalizado>li>a:hover{
      background-color: #FFFFFF!important;
      color: black!important;
    }
}*/



.nav-margin {
  margin-top: 15px;
  margin-left: 140px !important;
}
.exit{
  padding-right: 5px;
}
/*error notification inputs form*/
.errores{
  -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #FF4B4B;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  font-size: 14px;
  margin-top: -50px;
  margin-left: 180px;
  padding: 10px;
  position: absolute;
  border-radius: 5px;
}

#formsearch{
  padding: 2px;
  padding-left: 2px;

}
.searchContenedor{
  margin: 5px;
  background-color: #F9F9F9;
/*  padding-bottom: 10px;*/
  
}

/*psico fisico*/
.title-sub{
  text-align: center;
}
.seccion-psicofisico{
  padding-top: 10px;
  padding-bottom: 50px;
}
/*clinical view*/
.clinical-basico{
  text-align: left;
  border-style: solid;
  border-color: #ece4e2;
  padding: 15px;

}
/*badge*/
.badge-warning {
  background-color: #D9534F!important;
}

#accordion a{
  background: white;
}
#accordion i {
  color: red;
}

.add_fields  {
  color: white!important;
}