
  <head>
    <meta charset='utf-8' />
  
   <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
   <%= javascript_include_tag wicked_pdf_asset_base64("myjs") %>
  </head>

  <body>
  	<%= yield %>
  </body>